files:
 "/opt/elasticbeanstalk/deployment/envFetch":
    mode: "000755"
    owner: root
    group: root
    content: |
      #/bin/bash -e
      i=0;
      while read line;
      do a[$i]=$line;
      i=$(( i+1 ));
      done < /opt/elasticbeanstalk/deployment/env
      for (( j=0;j< ${#a[@]};j++));
      do
      b[$j]=${a[$j]};
      echo ${b[$j]}
      done
