container_commands:

  01_fishcake:
#    command: ". /var/app/venv/staging-LQM1lest/bin/activate ; cd /var/app/current ; python manage.py mgtest"
    command: "env"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    TESTENVVAR1: "value9"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "d3test.wsgi:application"
